{% include  "layout/GenericLayout/header.html.twig" %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            {% block introText %}{% endblock %}
        </div>
    </div>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row ">

            {% block heading %}{% endblock %}
        </div>
        <hr>
    </div>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
                {% block content %}{% endblock %}
            </div>
            <div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
                {% block comment %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- /container -->

</main>

{% include  "layout/GenericLayout/footer.html.twig" %}