
{% include  "layout/GenericLayout/header.html.twig" %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
             {% block introText %}{% endblock %}
        </div>
    </div>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row ">

                {% block heading %}{% endblock %}

        </div>

        <hr>

    </div>
    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">

            <div class="col-md-9">
                {% block content %}{% endblock %}

            </div>
            <div class="col-md-3 " >

                 {% block comment %}{% endblock %}

            </div>
        </div>

        <hr>

    </div>

    <!-- /container -->

</main>

{% include  "layout/GenericLayout/footer.html.twig" %}