{% extends  "layout/Author/layoutdashboard.html.twig" %}

{% block textarea %}
    <br/>
    <div class="col-12 shadow-lg p-4 mb-5  ">
        <h1>Publications</h1>
    </div>

    {% for book in posts_admin %}
        <form method="post">
            <div class="form-group">

                <div class=" row justify-content-end font-weight-bold ">
                    <div class="col-2 form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="is_status" id="is_status0" value="0">
                        <label class="form-check-label" for="is_status0">Brouillon
                        </label>
                    </div>
                    <div class="col-2 form-check form-check-inline  ">
                        <input class="form-check-input" type="radio" name="is_status" id="is_status1" value="1" checked >
                        <label class="form-check-label" for="is_status1">Editer
                        </label>
                    </div>
                </div>

                <label for="TitleDashboard">Titre</label>
                <textarea class="form-control" type="text" name="TitleDashboard">{{ book.title }}</textarea>

                <label for="TextDashboard"> Texte </label>
                <textarea class="form-control textarea" id="textarea" rows="20"
                          name="TextDashboard">{{ book.text | nl2br }}</textarea>
            </div>
            <div>
                <input class="btn btn-info" type="submit" value="Modifier"/>
            </div>
        </form>

    {% endfor %}
    <wbr/>

{% endblock %}