{% extends 'layout/main.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>La zone interdite</h1>

            </div>

        </div>
        <div class="row">
            <div class="col">
               <img src="img\interditOurs.png" :>
                <h3 class="text-center paddingtext "><a class="greenLink " href="index.php">Demi-tour l'accueil</a></h3>
            </div>
        </div>
    </div>

{% endblock %}