{% extends 'layout/layout.html.twig' %}



{% block contact %}

    <div class="shadow-lg p-5 mb-5 bg-gradient-warning rounded headingheight">
        <h1>Me contacter</h1>
        <br/>
    </div>


        <form method= "post">
            <div class= "form-group" >

                <label for= "NameMail" class="paddingtext font-weight-bold" >Votre Nom</label>
                <textarea class="form-control" type="text" ide="NameMail" name="NameMail" required ></textarea>

                <label for= "EmailMail" class="padding font-weight-bold">Votre courriel</label>
                <input class="form-control" type="email" id="EmailMail" name="EmailMail" required >

                <label for= "TitreMail" class="padding font-weight-bold">Titre</label>
                <input class="form-control" type="text" id="TitreMail" name="TitreMail" required >

                <label for= "Textmail"class="padding font-weight-bold"> Votre message </label>
                <textarea class= "form-control textarea" type="text" id= "TextMail" rows= "20" name="TextMail"></textarea>
            </div>
            <div>
                <input class="btn btn-success" type="submit" value="Envoyer" />
                <input class="btn btn-secondary" type="reset" value="Effacer" />
            </div>
        </form>


    <wbr/>

{% endblock %}