{% extends 'layout/GenericLayout/main.html.twig' %}

{% block content %}

    {% for heading in heading %}
        <div class="shadow-lg p-5 mb-5 bg-gradient-warning rounded headingheight">
            <h1>Billet simple pour l'Alaska</h1>
            <br/>
        </div>

        <div class="paddingtext">

            <h2>{{ heading.title|raw }}</h2>
        </div>
        <div class="paddingtext">
            <p>{{ heading.text|raw }}</p>

        </div>

    {% endfor %}

{% endblock %}