
{% extends 'layout/layout.html.twig' %}

{% block content %}

    {% for heading in heading %}

        <h1>Billet simple pour l'Alaska</h1>
        <br/>
        <div>

            <h2>{{ heading.title }}</h2>

            <p>{{ heading.text| nl2br }}</p>


        </div>

    {% endfor %}
{% endblock %}