<footer class="container-fluid">
    <hr/>
    <div class="row">
        <div class="col col-2">
            <a id="connection" href="index.php?p=admin">
                <span data-feather="feather"></span>
            </a>
        </div>
        <div class="col col-xl-8 col-lg-7 col-md-6 col-sm-5 col-2">
        </div>

        <div class="col col-xl-2 col-lg-3 col-md-4 col-sm-5 col-8 text-center">
            <a>&copy; Jean Forteroche 2018</a>
            <br/>

            <a href="index.php?p=rgpd_show">
                <span class="badge badge-dark "> Mentions légales RGPD</span>
            </a>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>

<!-- Just be careful that you give correct path to your tinymce.min.js file, above is the default example -->
<script type="text/javascript">
    tinymce.init({
        mode: "exact",
        selector: "#adminTextarea",

        language: "fr_FR",
        entity_encoding: "raw",
        encoding: "UTF-8",

        plugins: 'print preview  paste searchreplace autolink directionality  visualblocks visualchars fullscreen image link media template table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount   imagetools textpattern',
        toolbar: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
    });
</script>
<script src='https://www.google.com/recaptcha/api.js?render=6Lf3TpUUAAAAAM0ToNr9KwwbuQbqpHqo6vyTscpu'></script>
<script src='js/grecaptcha.js'></script>
</body>
</html>