<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" Roman, Billet simple pour l'Alaska">
    <meta name="author" content="Jean Forteroche, acteur et écrivain">
    <link rel="icon" href="img/ico.png">

    <title>Billet simple pour l'Alaska</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this layout -->
    <link href="css/alaskaBook.css" rel="stylesheet">


    </head>


<body>


<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="index.php">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div>  <h4><a class="nav-bar greenLink " href="index.php?p=post_list">Le livre</a></h4></div>

    <div class="collapse navbar-collapse" id="navbarsExample05">

            <ul class="navbar-nav mr-auto">

                 <li class="nav-item dropdown paddingRL ">
                      <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    L'artiste sous toutes les coutures</a>
                 <div class="dropdown-menu padding" aria-labelledby="dropdown05">
                    {% for showings in showingsP %}
                      <h4> <a class="greenLink" href="index.php?p=showing_show&id={{showings.id }}">{{showings.title }}</a></h4>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="index.php?p=contact">Me contacter</a>
            </li>

        </ul>

        <form class="form-inline my-2 my-md-0">
               <input class="form-control" type="text" placeholder="Rechercher">
        </form>
    </div>
</nav>
