{% extends  "layout/Author/layoutdashboard.html.twig" %}



{% block textarea %}


    <form method= "post">
        <div class= "form-group" >

            <label for= "TitleDashboard" >Titre</label>
            <textarea class="form-control" type="text" id="TitleDashboard" name="TitleDashboard"></textarea>

            <label for= "TextDashboard" > Texte </label>
            <textarea class= "form-control textarea" id= "textarea" rows= "20" id="TextDashboard" name="TextDashboard"></textarea>
        </div>
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Envoyer" />

        </div>
    </form>
    <wbr/>

{% endblock %}




