

{% extends 'layout/layout.html.twig' %}

{% block content %}


    {% for heading in heading %}
            <div>

                <h2>{{ heading.title }}</h2>
                <p>{{ heading.text| nl2br }}</p>


            </div>
    {% endfor %}



{% endblock %}

